extends layout

block content
  form(method="POST", action="#{method}")
    div
      label Email:
      input(type="email", name="email", placeholder="example@gmail.com", value="#{email || ''}")
    div
      label First Name:
      input(type="text", name="firstName", placeholder="Andrey", value="#{firstName || ''}")
    div
      label Last Name:
      input(type="text", name="lastName", placeholder="Programmer", value="#{lastName || ''}")
    div
      label Password:
      input(type="password", name="password", placeholder="mypassword")
    div
      input(type="submit")
